<!-- <app-tab-group-dynamic></app-tab-group-dynamic> -->
<div class="container-login">
    <div class="form-login">
        <p-button (onClick)="onSubmit()" label="Logout" class="p-float"></p-button>
        <div class="dasboard">
            <div class="p-grid p-fluid p-formgrid" style="float: left; margin-top: 50px;">

                <div class="p-field  p-col-6 ">
                    <p-button label="ERP" styleClass="p-fix-button" (onClick)="Click()"></p-button>
                </div>

                <!-- <div class="p-field p-col-12" style="padding: 0 20%;">
                    <p-button label="SSO-VTLIMEX" styleClass="p-fix-button"></p-button>
                </div> -->
                <div class="p-field p-col-6 ">
                    <p-button label="Táo Quân" styleClass="p-fix-button"></p-button>
                </div>

                <!-- <div class="p-field p-col-6 ">
                    <p-button label="Family" styleClass="p-fix-button"></p-button>
                </div> -->
            </div>
        </div>
    </div>
</div>