<p-dialog header="Thêm nhóm" [(visible)]="openDialog" (onHide)="onCloseModal.emit()">
    <div class="p-fluid p-formgrid p-grid">
        <!-- <div class="p-field p-col-6">
            <label>Id</label>
            <input type="text" pInputText [(ngModel)]="dataObj.id">
        </div> -->
        <div class="p-field p-col-6">
            <label>Name</label>
            <input type="text" pInputText [(ngModel)]="dataObj.name">
        </div>
        <div class="p-field p-col-6">
            <label>Path</label>
            <input type="text" pInputText [(ngModel)]="dataObj.path">
        </div>
        <div class="p-field p-col-6">
            <label>SubGroups</label>
            <input type="text" pInputText [(ngModel)]="dataObj.subGroups">
        </div>
        <div class="p-field p-col-6">

        </div>
        <div style="margin-left:10px">
            <p-button label="Lưu" (click)="onAddGroup()"></p-button>
        </div>
    </div>
</p-dialog>